/** @format */

#create-job {
  font-weight: bold;
  font-family: "georgia";
  font-size: 18px;
}

label {
  font-weight: bold;
  font-family: "georgia";
}
.btn-back {
  font-weight: bold;
  font-family: "georgia";
}
.container-psot {
  background: #fff;
  width: 400px;
  max-width: 100%;
  box-sizing: border-box;
  padding: 25px;
  margin: 8% auto 0;
  position: relative;
  z-index: 1;
}
